.container {
  min-width: 940px;
  padding: 1.5rem 0;
}

@media (min-width: 544px) {
  .container {
    min-width: 940px;
  }

  .jumbotron {
    padding: 2rem 1rem;
  }
}

@media (min-width: 921px) {
  .container {
    min-width: 940px;
  }

  .jumbotron {
    padding: 2rem 1rem;
  }
}

.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

