body {
  background-color: black;
  color: white;
}

hr {
  border-color: white;
}

.container {
  background-color: black;
  min-width: 1140px;
  padding: 1.5rem 0;
  color: white;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: white;
}

@media (min-width: 544px) {
  .container {
    min-width: 1140px;
  }

  .jumbotron {
    padding: 2rem 1rem;
  }
}

@media (min-width: 921px) {
  .container {
    min-width: 1140px;
  }

  .jumbotron {
    padding: 2rem 1rem;
  }
}

@media (min-width: 1200px) {
  .container {
    min-width: 1140px;
  }

  .jumbotron {
    padding: 2rem 1rem;
  }
}

.jumbotron {
  background-color: black;
  color: white;
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

